:root {
  --cta-button-color: #596d48;
  --input-border: 1px solid #e5e7eb;
}

body {
    font-family:sans-serif;
  margin: 0;
  padding: 0;
}

a {
    color:var(--cta-button-color);
    font-weight:bold;
    text-decoration-line: none;
}
button {
  background-color: var(--cta-button-color);
  color: white;
  font-size: x-large;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 0.5rem lightgray;

}
legend {
  margin-left: 11px;
  margin-bottom: 20px;
  font-size: larger;
  font-weight: bold;
}

fieldset {
  display: flex;
  flex-flow: row nowrap;
  border: 0;
}

label {
  letter-spacing: 1px;
  font-size: small;
}

input {
    border: var(--input-border);
    border-radius: 4px;
    width: 100%;
    font-size:medium;
    padding-right: 60px;
    padding-left:12px;
    padding-top:12px;
    padding-bottom:8px;
    margin-top: 4px;
  }
  
  input:focus {
    border-color: blue;
    box-shadow: 2px 2px 0.5rem lightgray;
  }
  
  

input[type="password"]:invalid {
  border: 1px red solid;
}

#main-content {
  display: flex;
  height: 100vh;
}

.left-div {
  position: relative;
  display: flex;
  height: 100vh;

  > .image-div {
    display: flex;
    justify-content: center;
    height: 100vh;

    > .logo-div {
      position: absolute;
      font-family: "Skranji", cursive;
      font-size: xx-large;
      display: flex;
      transform: translateY(18vh);
      background-color: rgba(0, 0, 0, 0.5);
      height: 16vh;
      width: 100%;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      color: white;

      > img {
        display: flex;
        height: 100%;
      }
    }
  }
  .credit-text {
    display: flex;
    position: absolute;
    align-self: flex-end;
    color: white;
    margin-bottom: 12px;
  }
}

.right-div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: gainsboro;

  .top-div {
    background: gainsboro;
    margin: 20px;
    margin-top: 160px;
    display: flex;
    align-items: flex-end;

    > p {
      font-size: larger;
      font-weight: bold;
      margin: 20px;
      flex-basis: 60%;
    }
  }
  .form-unit {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
  }
  .middle-div {
    background-color: white;

    > form {
      margin: 29px;
    }
  }
  .bottom-div {
    margin: 40px;
  }
}
